<section class="mt-5 container">
    <ul class="nav justify-content-center">
        <li class="nav-item">
            <a class="nav-link main-color active" aria-current="page" routerLink="/products">Manage Products</a>
        </li>
        <li class="nav-item">
            <a class="nav-link main-color" routerLink="/customers">Manage Customers</a>
        </li>
        <li class="nav-item">
            <a class="nav-link main-color" routerLink="/orders">Manage Orders</a>
        </li>
        <li class="nav-item">
            <a class="nav-link main-color" routerLink="/staff">Manage Staff</a>
        </li>
    </ul>
</section>